body {
  margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }

h1 {
  color: #74a574;
  text-align: center;
  align-items: center;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
    font-size: 15rem
}

.container {
  display: flex; /* Використовуємо Flexbox */
  align-items: center; /* Вирівнюємо елементи по центру */
  justify-content: space-between; /* Розподіл простору між текстом та фото */
  padding: 2rem;
  background-color: #f6dfed; /* Білий фон */
}

.text1 {
  max-width: 30%; /* Обмежуємо ширину текстового блоку */
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.8;
  word-wrap: break-word;
  padding: 50px;
}

.ilustration {
  width: 80%; 
  border-radius: 5px; 
  
}

.containerHP {
  display: flex; /* Використовуємо Flexbox */
  align-items: center; /* Вирівнюємо елементи по центру */
  justify-content: space-between; /* Розподіл простору між текстом та фото */
  padding: 2rem;
}

.TextHP {
   max-width: 40%; /* Обмежуємо ширину текстового блоку */
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.8;
  word-wrap: break-word;
  padding: 50px;
}
.imageHP {
width: 80%; /* Обмеження розміру фото */
}

p {
  color: #443626;
  font-family: "Roboto", sans-serif;
  src: url(fonts/RobotoMono-Regular.ttf);
  align-items: center;
  
}

h4 {
  color: #74a574;
  text-align: center;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
    font-size: 50px;
}

ol {
  color: #443626;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.ilustration {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center; /* Вертикальне вирівнювання */
  height: 68vh; /* Висота контейнера для вертикального центрування */
  padding: 0;
  margin: 0;
}

.text1,
  .illustration {
    max-width: 100%; /* Блоки займають всю ширину */
  }


.text {
  margin: 10px 5px 6px 27px;
  align-items: center;
}

.instagram-link {
  color: #74a574;
  text-decoration: none;
}

.abc {
  align-items: center;
  margin: 10px 5px 6px 27px;
}

.dim {
   flex: 1; 
  font-size: 25px;
  line-height: 1.6;
  text-align: justify;
  align-items: center;
}
.dim container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;          
    background-color: #f3f3f3; 
}
.box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 1000px;
  flex-shrink: 3;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
  height: 100;
}
.navbar {
  background-color: #74a574;
  padding: 10px;
  position: fixed;;
  width: 100%;
  display: flex;
  top: 0;
}
.logo {
    position: absolute;
    top: 50%; /* Вирівнювання по вертикалі */
    right: 100px; /* Відступ від правого краю */
    transform: translateY(-50%); /* Центрує по вертикалі */
    height: 50px; /* Задайте потрібний розмір логотипу */
    width: auto; /* Зберігає пропорції */
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar li {
  margin: 0 15px;
}
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold";
}
.poster {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    cursor: pointer;
}
#lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}
#lightbox img {
    max-width: 80%;
    max-height: 80%;
}

#lightbox.hidden {
    display: none;
}

#close-lightbox {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.poster-gallery {
display: flex;
justify-content: center;
align-items: center;
background-image: url(/img/8.jpg);
background-size: cover; /* Масштабування зображення на весь екран */
    background-position: center; /* Центрування зображення */
    background-repeat: no-repeat;
}

.la {
  text-align: left;
   position: relative;
    font-size: 25px; 
    color: #f6dfed;
    background-color: #74a574;
    border: #f6dfed;
     display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 1000px;
  flex-shrink: 3;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
  height: 100;
  margin: 10px 10px 10px 27px;
}
.imgbi {
display: flex; /* Вирівнює елементи у рядок */
    flex-wrap: wrap; /* Дозволяє переносити елементи на новий рядок */
    gap: 10px; /* Проміжок між фотографіями */
    padding: 10px; /* Внутрішні відступи */
   max-width: 100%; /* Обмеження ширини */
    
}