body {
  background: radial-gradient(
    circle,
    rgba(249, 219, 159, 0.5) 0%,
    rgb(255, 254, 254) 100%
  );
  background-color: #d9f0e6;
}

h1 {
  color: #74a574;
  text-align: center;
  align-items: center;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
    font-size: 15rem
}

.container {
  display: flex; /* Використовуємо Flexbox */
  align-items: center; /* Вирівнюємо елементи по центру */
  justify-content: space-between; /* Розподіл простору між текстом та фото */
  padding: 2rem;
  background-color: #f6dfed; /* Білий фон */
}

.text1 {
  max-width: 30%; /* Обмежуємо ширину текстового блоку */
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  word-wrap: break-word;
  padding: 50px;
}

.ilustration {
  width: 40%; 
  border-radius: 5px; 
  
}

.containerHP {
  display: flex; /* Використання Flexbox */
  align-items: center;
  gap: 50px; /* Відстань між текстом і фото */
  background: white;
  padding: 20px 40px;;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
   margin: 0 auto; 
}

.TextHP {
  flex: 1; /* Текст займає більше місця */
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  align-items: center;
}
.imageHP {
width: 40%; /* Обмеження розміру фото */
}

p {
  color: #443626;
  font-family: "Roboto", sans-serif;
  src: url(fonts/RobotoMono-Regular.ttf);
  align-items: center;
}

h4 {
  color: #74a574;
  text-align: center;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
    font-size: 50px;
}

ol {
  color: #443626;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.ilustration {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center; /* Вертикальне вирівнювання */
  height: 68vh; /* Висота контейнера для вертикального центрування */
  padding: 0;
  margin: 0;
}

.text1,
  .illustration {
    max-width: 100%; /* Блоки займають всю ширину */
  }

.book {
  border: 6x dotted #74a574;
  width: 500px;
  height: 200px;
  overflow: scroll;
  display: block;
  padding: 0;
  margin: 0;
}

.text {
  margin: 10px 5px 6px 27px;
  align-items: center;
}

.instagram-link {
  color: #74a574;
  text-decoration: none;
}

.abc {
  align-items: center;
  margin: 10px 5px 6px 27px;
}

.food {
  padding: 35px;
  margin: 60px;
  background-color: #f2c9e2;
  /* border: 10px solid #ffffff; */

  color: #443626;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center; /* Вертикальне вирівнювання */
  justify-content: center; /* Горизонтальне вирівнювання */
}

.box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 1000px;
  flex-shrink: 3;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
  height: 100;
}
.navbar {
  background-color: #74a574;
  padding: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar li {
  margin: 0 15px;
}
.navbar a {
  color: rgb(228, 237, 186);
  text-decoration: none;
  font-family: Pattaya, Impact, Haettenschweiler, "Arial Narrow Bold";
}
